@import "partials/project-entry";
@import "partials/project-list";
$family-monospace: "Fira Code", "Roboto Mono", Menlo, Monaco, Consolas, "Courier New", Courier, monospace;

.avatar {
  &:hover {
    transform: unset;
  }
}

.site-header a{
  opacity: 1;
}

.title {
  font-family: $family-monospace;
}
